@model List<Teashop2.Models.OrderedProduct>

@{
    ViewData["Title"] = "Index";
}

<h1>Koszyk</h1>
<h4>
    Całkowity koszt produktów: @(Model.Sum(p => p.Quantity * p.Product.Price)) zł 
</h4>
@*<button id="btn-clear" class="btn btn-danger">Wyczyść koszyk</button>*@
<a href="#" id="btn-clear" class="btn btn-danger">Wyczyść koszyk</a>



<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Ilość
            </th>
            <th>
                Cena jednostkowa
            </th>
            <th>
                Wartość
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="product-name">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Product.Id">
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @(item.Product.Price * item.Quantity) zł
                </td>
                <td>
                    @*<a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">Usuń</a>*@
                    <a href="#" class="btn-remove" data-product-id="@item.ProductId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Count > 0)
{
    <a asp-controller="ShoppingCart" asp-action="Checkout">Złóż zamówienie</a>
}


@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-remove").click(function (e) {
                e.preventDefault();
                var productId = $(this).data("product-id");
                var productName = $(this).closest("tr").find(".product-name").text(); // Pobierz nazwę produktu z odpowiedniej kolumny
                $("#confirmDeleteModal .modal-body").html("Czy na pewno chcesz usunąć produkt: " + productName + "?");
                $("#confirmDeleteModal").modal("show");

                $("#btn-confirm-remove").click(function () {
                    window.location.href = '@Url.Action("RemoveFromCart", "ShoppingCart")' + '?productId=' + productId;
                });                
                $(".close-modal").click(function () {
                    $("#confirmDeleteModal").modal("hide");
                });
            });

            $("#btn-clear").click(function (e) {
                console.log("klyk");
                $("#confirmClearModal .modal-body").html("Czy na pewno chcesz wyczyścić koszyk? Operacja jest nieodwracalna!");
                $("#confirmClearModal").modal("show");

                $("#btn-confirm-clear").click(function () {
                    window.location.href = '@Url.Action("ClearCart", "ShoppingCart")';
                });
                $(".close-modal").click(function () {
                    $("#confirmClearModal").modal("hide");
                });
            });
        });
    </script>
}

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie usuwania</h5>
                <button type="button" class="btn-close close-modal" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć ten produkt z koszyka?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Anuluj</button>
                <button id="btn-confirm-remove" type="button" class="btn btn-danger">Usuń</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmClearModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wyczyść koszyk</h5>
                <button type="button" class="btn-close close-modal" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz wyczyścić koszyk? Operacja jest nieodwracalna!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Anuluj</button>
                <button id="btn-confirm-clear" type="button" class="btn btn-danger">Wyczyść</button>
            </div>
        </div>
    </div>
</div>
