@model Teashop2.Models.Product

@{
    ViewData["Title"] = "Szczegóły";
}

@*<div class="product-image">
    @if (Model.ImagePath == null)
    {
        <img src="@Url.Content("/images/herbata-saga.png")" alt="Product Image" class="img-thumbnail rounded mx-auto d-block w-50 h-50">
    }
    else
    {
        <img src="@Url.Content(Model.ImagePath)" alt="Product Image" class="img-thumbnail">
    }
</div>*@
<div class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                @if (Model.ImagePath == null)
                {
                    <img src="@Url.Content("/images/herbata-saga.png")" alt="Product Image" class="card-img-top mb-5 mb-md-0">
                }
                else
                {
                    <img src="@Url.Content(Model.ImagePath)" alt="Product Image" class="card-img-top mb-5 mb-md-0">
                }
                </div>
            <div class="col-md-6">
                <div class="small mb-1">
                   <span>|</span>
                    @foreach (var item in Model.Categories)
                    {
                        <span>@Html.DisplayFor(modelItem => item.Name)   |</span>
                    }
                </div>
                <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.Name)</h1>
                <div class="fs-5 mb-5">
                    <span>@Html.DisplayFor(model => model.Price) zł</span>
                </div>
                <p class="lead">@Html.DisplayFor(model => model.Description)</p>
                <div class="d-flex">
                    @*<input class="form-control text-center" id="inputQuantity" type="number" value="1" min="1" max="<?php echo min(9, $prod[" na_stanie"]); ?>" style="max-width: 3rem" />*@
                    @if (User.IsInRole("User") && Model.IsAvaliable)
                    {
                        <a id="addToCartButton" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-primary">Dodaj do koszyka</a>
                    }
                    else
                    {
                        <a id="addToCartButton" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-primary disabled">Dodaj do koszyka</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edytuj produkt</a>
                    }
                </div>
                    <a asp-action="Index">Powrót do listy produktów</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function addToCartAndRedirect() {
            var productId = @Model.Id;

            window.location.href = "@Url.Action("AddToCart", "ShoppingCart")?productId=" + productId;
        }

        document.getElementById("addToCartButton").addEventListener("click", function (event) {
            event.preventDefault();

            $('#addToCartModal').modal('show');
        });

        $(".close-modal").click(function () {
            $("#addToCartModal").modal("hide");
            addToCartAndRedirect();
        });
    </script>
}

<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">Produkt dodany do koszyka</h5>
                <button type="button" class="btn-close close-modal" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Twój produkt został dodany do koszyka.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
