@model Teashop2.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły produktu</h1>
<div class="product-image">
    @if (Model.ImagePath == null)
    {
        <img src="@Url.Content("/images/herbata-saga.png")" alt="Product Image" class="img-thumbnail">
    }
    else
    {
        <img src="@Url.Content(Model.ImagePath)" alt="Product Image" class="img-thumbnail">
    }
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Opis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Cena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Ilość na stanie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOnStock)
        </dd>
        <dt class = "col-sm-2">
            Czy dostępny
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvaliable)
        </dd>
        <dt class="col-sm-2">
            Kategorie:
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var item in Model.Categories)
                {
                    <li>@Html.DisplayFor(modelItem => item.Name)</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("User") && Model.IsAvaliable)
    {
        <a id="addToCartButton" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-primary">Dodaj do koszyka</a>
    }
    else {
        <a id="addToCartButton" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" class="btn btn-primary disabled">Dodaj do koszyka</a>
    }
    <a asp-action="Index">Powrót do listy produktów</a>
    <br>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edytuj produkt</a>
    }
</div>


@section scripts
{
    <script>
        function addToCartAndRedirect() {
            var productId = @Model.Id; // Id produktu, które pobierzesz z modelu Razor
            // Tu dodaj kod obsługujący akcję dodawania do koszyka
            // ... Twój kod ...

            // Teraz przekierowanie po dodaniu produktu do koszyka
            window.location.href = "@Url.Action("AddToCart", "ShoppingCart")?productId=" + productId;
        }

        document.getElementById("addToCartButton").addEventListener("click", function (event) {
            event.preventDefault(); // Zatrzymaj domyślną akcję linku

            // Otwórz okienko modalne
            $('#addToCartModal').modal('show');
        });

        $(".close-modal").click(function () {
            $("#addToCartModal").modal("hide");
            addToCartAndRedirect(); // Wywołaj akcję po zamknięciu okna modalnego
        });
    </script>
    </script>
}

<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToCartModalLabel">Produkt dodany do koszyka</h5>
                <button type="button" class="btn-close close-modal" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Twój produkt został dodany do koszyka.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
